.university {
    margin: 5 px
}

.university {
    float: left;
    /* color: magenta; */
}

.float-container {
    padding: 20px;
}

.float-child {
    float: left;
    padding: 20px;
  
}  

.heightFixed {
    height: 35vw;
    background-color: white;
}